*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper{
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

#status{
    width: 200px;
    float: left;
}

#inputs{
    width: 200px;
    float: right;
    margin-top: 50px;
}

#inputs input{
    width: 25px;
    padding: 3px;
    margin: 7px;
    text-align: center;
    border: none;
    border-bottom: 3px solid black;
    font-size: 25px;
}

#buttons{
    clear: both;
    width: 400px;
    margin: 0px auto;
}

#buttons button{
    padding: 11px;
    margin: 5px;
    font-size: 21px;
}